@font-face {
    font-family: 'FiraGO';
    font-style: normal;
    font-display: swap;
    font-weight: 400;
    src: url(https://cdn.jsdelivr.net/fontsource/fonts/firago@latest/latin-400-normal.woff2) format('woff2'),
    url(https://cdn.jsdelivr.net/fontsource/fonts/firago@latest/latin-400-normal.woff) format('woff');
  }
* {
    box-sizing: border-box;
}
body {
    font-family: 'FiraGO', sans-serif !important;
    background-color: #f5f5f5a9 !important;
    margin: 0;
}
.navbar {
    background-color: #d4c2b6;
    margin: 0;
    padding: 0 !important;
}
.brand{
    height: 130px;
}
.nav-link {
    font-size: 20px;
    font-weight: 400;
}
.nav-link:hover {
    font-weight: 600;
}
.carousel-item {
    height: 450px !important;
    width: 100% !important;
    margin-top: 100px; 
}
.carousel-item1 {
    background-image: url(./img/Coffee+Beans.jpg);
    background-size: cover;
    height: 450px !important;
    width: 100% !important;
    margin-top: 100px;   
}
.carousel-item2 {
    background-image: url(./img/salt_ribbons_in_the_dead_sea.jpg);
    background-size: cover;
    height: 450px !important;
    width: 100% !important;
    margin-top: 100px;   
}
.carousel-item3 {
    background-image: url(./img/homemade-light-brown-sugar.jpg);
    background-size: cover;
    height: 450px !important;
    width: 100% !important;
    margin-top: 100px;   
}
.card {
    background: none !important;
    border: none !important;
    width: 100% !important;
    backdrop-filter: blur(3px) !important;
}
.card_position{
    margin-top: 100px !important;
}
.card_header {
    font-size: 35px !important;
    color: aliceblue !important;
    text-shadow: #fc0 1px 0 8px;
}
.card_p {
    font-size: 20px;
    color: aliceblue !important;
    text-shadow: #fc0 1px 0 8px;
}
@media screen and (max-width: 768px) {
    .card_position {
        margin-top: 55px !important;
    }
    .card_header {
        font-size: 25px !important;
    }
    .card_p {
        font-size: 15px !important;
    }
    .carousel-item  {
        margin-top: 1px !important;
    }
}